# Dataset
data/raw/
data/processed/

# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Models
*.pt
*.pth
*.h5
*.keras

# Logs
logs/

# OS
.DS_Store
Thumbs.db